@using ImageShareLikesEF.Data
@model ViewImageViewModel
<div class="row">
    <input type="hidden" id="image-id" value="@Model.Image.Id" />
  
    <div class="col-md-10 col-md-offset-1 well">
        <h1>@Model.Image.Title</h1>
        <img src="/uploads/@Model.Image.FileName" style="width: 900px;" />
        <br />
        <br />
        <button id="like-button" class="btn btn-primary btn-lg" disabled="@Model.Liked">LIKE</button>
        Current Likes: <span id="likes-count"></span>
    </div>
</div>
@section scripts
{
    <script src="/js/likes.js"></script>
}

